body {

    h4 {
        color: #0466C8;
    }

    .title {
        margin-bottom: 2em;
    }

    h2 {
        margin: 0;
    }

    .icon-font {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 0.4em;
        font-size: 20px;
        color:#0466C8;
    }

    .section-first-header {
        max-width: 900px;
        margin: 0 auto 3em auto;
        padding: 0 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h3 {
            text-align: center;
        }
    
        .first-image {
            margin-top: 0.5em;
            margin-bottom: 1.5em;
            display:block;
            width: 100%;
        }

        
    }

    .first-try-me {
        margin-bottom: 0;
        margin: 0 auto 0 auto;
        max-width: 1200px;
        padding: 0 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .image-try-me {
            display:block;
            width: 100%;
            margin-bottom: 2em;
        }

        .try-me-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                margin-bottom: 1em;
                text-align: center;
            }

            .try-me-call-to-action-container {
                width: 100%;
                display: flex;
                justify-content: space-around;
            }

            .try-me-call-to-action {
                display: inline-block;
                width: 140px;
                font-size: 14px;
                text-align: center;
                color: #fff;
                font-weight: 500;
                padding: 12px;
                border: solid #0466C8;
                background-color: #0466C8;
                border-radius: 35px;
                transition: 0.3s ease-in-out;
                cursor: pointer;
                margin-bottom: 0;
            }

            .try-me-website {
                display: inline-block;
                width: 140px;
                font-size: 14px;
                text-align: center;
                color: #0466C8;
                font-weight: 500;
                padding: 12px;
                border: solid 2px #0466C8;
                background-color: transparent;
                border-radius: 35px;
                transition: 0.3s ease-in-out;
                cursor: pointer;
            }

            .try-me-call-to-action:hover {
                background-color:#042365;
                border-color: #042365;
            }

            .try-me-website:hover {
                background-color:#042365;
                border-color: #042365;
                color: #fff;
            }
        }


    }

    .border-section {
        padding: 3.5em 0 3.5em 0;
        border: solid #fff 5px;
    }

    .the-project {
        max-width: 900px;
        margin: 0 auto 0 auto;
        padding: 0 2em;
        display: flex;
        flex-direction: column;

        p {
            margin-bottom: 2em;
        }

        h3 {
            margin-bottom: 1em;
        }

        .duration {
            p {
                margin-bottom: 0;
            }
        }

    }

    .background-section-first {
        padding: 2.5em 0 2.5em 0;
        margin-bottom: 0;
    }

    .what-we-have-to-know {
        max-width: 900px;
        margin: 0 auto 0 auto;
        padding: 0 2em;
        display: flex;
        flex-direction: column;

        h4 {
            text-align: left;
            margin-bottom: 1em;
        }

        p {
            margin-bottom: 0;
        }
        
        .substrate {
            padding: 0 2.5em 0 2.5em;
        }


        .goal-icon {
            margin-bottom: 2.5em;
            
            .the-goal {
                display: grid;
                grid-template-columns: 0.1fr 1fr;
                row-gap: 0.3em;

                h4 {
                    display: flex; 
                    align-items: center;
                    margin-bottom: 0;
                }

                p {
                    grid-column-start: 2;
                    grid-column-end: 4;
                }
            }

        }

        .pain-point-icon {
            display: grid;
            grid-template-columns: 0.1fr 1fr;
            row-gap: 0.3em;
            margin-bottom: 1em;

            h4 {
                display: flex; 
                align-items: center;
                margin-bottom: 0;
            }

            p {
                grid-column-start: 2;
                grid-column-end: 4;
            }
        }

        .pain-point-and-research {
            margin-bottom: 2.5em;

            .pain-point-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 1.5em;
                grid-row-gap: 1em;

                p {
                    margin-bottom: 0;
                }

                h3  {
                    margin-bottom: 0.5em;
                }

            }
        }

        .competitor {

            .competitor-icon {
                display: grid;
                grid-template-columns: 0.1fr 1fr;
                row-gap: 0.3em;
                margin-bottom: 1em;
    
                h4 {
                    display: flex; 
                    align-items: center;
                    margin-bottom: 0;
                }
    
                p {
                    grid-column-start: 2;
                    grid-column-end: 4;
                }
            }


            h3 {
                margin-bottom: 0.5em;
            }

            .data-items {
                margin-bottom: 1em;
                p {
                    margin-bottom: 0;
                }
            }

            .founding-items {
                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .Thinking-about-the-users {
        max-width: 900px;
        margin: 0 auto 0 auto;
        padding: 0 2em;
        display: flex;
        flex-direction: column;

        .personas {
            margin-bottom: 3em;

            p {
                margin-bottom: 0;
            }

            .personas-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 10px 14px #E3E3E3;
                padding: 1em 0;
                margin: 0 auto 2em auto;
                max-width: 500px;

                .image-personas {
                    display:block;
                    width: 90%;
                }
            }

            .personas-icon {
                display: grid;
                grid-template-columns: 0.1fr 1fr;
                row-gap: 0.3em;
                margin-bottom: 1em;
    
                h4 {
                    display: flex; 
                    align-items: center;
                    margin-bottom: 0;
                }
    
                p {
                    grid-column-start: 2;
                    grid-column-end: 4;
                }
            }
        }

        .user-journey {

            p {
                margin-bottom: 0;
            }

            .user-journey-icon {
                display: grid;
                grid-template-columns: 0.1fr 1fr;
                row-gap: 0.3em;
                margin-bottom: 1em;
    
                h4 {
                    display: flex; 
                    align-items: center;
                    margin-bottom: 0;
                }
    
                p {
                    grid-column-start: 2;
                    grid-column-end: 4;
                }
            }

            .user-journey-substrate {

                .user-journey-conclusion {
                    margin-left: 2em;
                    font-weight: 500;
                    color: #000;
                }

                .example-user-journey {
                    margin-left: 2em;
                    text-align: left;
                    color: #000;
                    margin-bottom: 1.5em;
                }

                .user-journey-example-app {
                    margin-left: 2em;
                    text-align: left;
                    color: #000;
                    margin-bottom: 1.5em;
                    line-height: 18px;
                }

                .user-journey-grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr;
                    grid-row-gap: 2%;
                    grid-column-gap: 4%;
                    margin-bottom: 5.5em;

                    p {
                        font-size: 12px;
                    }

                    .blue-text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: #fff;
                        border-radius: 6px;
                        box-shadow: 0 10px 14px #E3E3E3;
                        margin: 0 auto 0 auto;
                        width: 100%;
                        height: 2.5em;
                        padding: 5%;

                        .blue {
                            font-weight: 700;
                            color:#0466C8;
                            text-align: center;
                        }
                    }

                    .black-text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: #fff;
                        border-radius: 6px;
                        box-shadow: 0 10px 14px #E3E3E3;
                        margin: 0 auto 0 auto;
                        width: 100%;
                        height: 100%;
                        padding: 5%;

                        .black {
                            font-weight: 700;
                            color:#000;
                            text-align: center;
                        }
                    }

                    .p-text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: #fff;
                        border-radius: 6px;
                        box-shadow: 0 10px 14px #E3E3E3;
                        margin: 0 auto 0 auto;
                        width: 100%;
                        height: 100%;
                        padding: 5%;

                        p {
                            text-align: center;
                        }
                    }

                }

                .user-journey-grid-2 {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr;
                    grid-row-gap: 2%;
                    grid-column-gap: 4%;
                    margin-bottom: 5.5em;

                    p {
                        font-size: 12px;
                    }

                    .blue-text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: #fff;
                        border-radius: 6px;
                        box-shadow: 0 10px 14px #E3E3E3;
                        margin: 0 auto 0 auto;
                        width: 100%;
                        height: 2.5em;
                        padding: 5%;

                        .blue {
                            font-weight: 700;
                            color:#0466C8;
                            text-align: center;
                        }
                    }

                    .black-text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: #fff;
                        border-radius: 6px;
                        box-shadow: 0 10px 14px #E3E3E3;
                        margin: 0 auto 0 auto;
                        width: 100%;
                        height: 100%;
                        padding: 5%;

                        .black {
                            font-weight: 700;
                            color:#000;
                            text-align: center;
                        }
                    }

                    .p-text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: #fff;
                        border-radius: 6px;
                        box-shadow: 0 10px 14px #E3E3E3;
                        margin: 0 auto 0 auto;
                        width: 100%;
                        height: 100%;
                        padding: 5%;

                        p {
                            text-align: center;
                        }
                    }

                }
            }
        }

    }

    .Lets-start-creating {
        max-width: 900px;
        margin: 0 auto 0 auto;
        padding: 0 2em;
        display: flex;
        flex-direction: column;

        .substrate {
            padding: 0 2.5em 0 2.5em;
        }

        
        
        .wireframing {
            p {
                margin-bottom: 0;
            }

            h3 {
                margin-bottom: 0.5em;
            }

            .paper-image {
                display: block;
                width: 80%;
                margin: 0 auto 4em auto;
            }

            .paper-wireframes  {
                margin-bottom: 1.5em;
            }

            .wireframing-icon {
                display: grid;
                grid-template-columns: 0.1fr 1fr;
                row-gap: 0.3em;
                margin-bottom: 1em;
    
                h4 {
                    display: flex; 
                    align-items: center;
                    margin-bottom: 0;
                }
    
                p {
                    grid-column-start: 2;
                    grid-column-end: 4;
                }
            }

            .digital-wireframes {
                margin-bottom: 1.5em;
            }

            .digital-image {
                display: block;
                width: 80%;
                margin: 0 auto 4em auto;
            }
        }

        .user-testing {
            margin-bottom: 2.5em;

            p {
                margin-bottom: 0;
            }

            h3 {
                margin-bottom: 0.5em;
            }

            .user-testing-icon {
                display: grid;
                grid-template-columns: 0.1fr 1fr;
                row-gap: 0.3em;
                margin-bottom: 1.5em;
    
                h4 {
                    display: flex; 
                    align-items: center;
                    margin-bottom: 0;
                }
    
                p {
                    grid-column-start: 2;
                    grid-column-end: 4;
                }
            }

            span {
                font-weight: 500;
            }

            .space {
                margin-bottom: 0.5em;
            }

            .objective {
                margin-bottom: 1.5em;
            }

            .key-performance-indicator {
                margin-bottom: 1.5em;

                p {
                    margin-bottom: 0.3em;
                }
            }

            .what-i-found-out {
                
                .what-i-found-out-column {
                    display: grid;
                    grid-template-columns: 1.7em 1fr;   

                    p {
                        margin-bottom: 0.6em;
                    }

                    .number {
                        font-weight: 500;
                    }
                }
               
            }
        }

        .iteration {
            margin-bottom: 2.5em;

            p {
                margin-bottom: 0;
            }
            
            .iteration-icon {
                display: grid;
                grid-template-columns: 0.1fr 1fr;
                row-gap: 0.3em;
    
                h4 {
                    display: flex; 
                    align-items: center;
                    margin-bottom: 0;
                }
    
                p {
                    grid-column-start: 2;
                    grid-column-end: 4;
                }
            }
        }

        .mockups {
            
            .mockups-icon {
                display: grid;
                grid-template-columns: 0.1fr 1fr;
                row-gap: 0.3em;
                margin-bottom: 1em;

                .mockup-call-to-action-container {
                    grid-column-start: 2;
                    grid-column-end: 4;

                    .try-me-website-mockup {
                        display: inline-block;
                        width: 140px;
                        font-size: 14px;
                        text-align: center;
                        color: #0466C8;
                        font-weight: 500;
                        padding: 12px;
                        border: solid 2px #0466C8;
                        background-color: transparent;
                        border-radius: 35px;
                        transition: 0.3s ease-in-out;
                        cursor: pointer;
                    }

                    .try-me-website-mockup:hover {
                        background-color:#042365;
                        border-color: #042365;
                        color: #fff;
                    }

                    .try-me-call-to-action-mockup {
                        display: inline-block;
                        width: 140px;
                        font-size: 14px;
                        text-align: center;
                        color: #0466C8;
                        font-weight: 500;
                        padding: 12px;
                        border: solid 2px #0466C8;
                        background-color: transparent;
                        border-radius: 35px;
                        transition: 0.3s ease-in-out;
                        cursor: pointer;
                        margin-bottom: 1em;
                        margin-right: 1em;
                       
                    }
    
                    .try-me-call-to-action-mockup:hover {
                        background-color:#042365;
                        border-color: #042365;
                        color: #fff;
                    }
                }
                
                
                span {
                    line-height: 20px;
                    font-weight: 500;
                }

                h4 {
                    display: flex; 
                    align-items: center;
                    margin-bottom: 0;
                }
    
                p {
                    grid-column-start: 2;
                    grid-column-end: 4;
                    margin-bottom: 1em;
                }
            }

            .mockup-image {
                display: block;
                width: 100%;
                margin: 0 auto 0 auto;
            }
        } 
        
    }

    .conclusion {
        max-width: 900px;
        margin: 0 auto 0 auto;
        padding: 0 2em;
        display: flex;
        flex-direction: column;

        .what-next {
            max-width: 900px;
            margin: 0 auto 0 auto;
            padding: 0 2em;
            display: flex;
            flex-direction: column;
    
            p {
                margin-bottom: 2em;
            }
    
            h3 {
                margin-bottom: 1em;
            }
    
            .duration {
                p {
                    margin-bottom: 0;
                }
            }
    
        }
    }

    .Contact-me-end {
        max-width: 900px;
        margin: 3.5em auto 5em auto;
        padding: 0 2.5em;
        display: flex;
        align-items: center;
        flex-direction: column;

        .contact-me {
            display: inline-block;
            width: 125px;
            font-size: 12px;
            text-align: center;
            color: #fff;
            font-weight: 500;
            padding: 10px;
            border: solid #0466C8;
            background-color: #0466C8;
            border-radius: 35px;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            margin-bottom: 1em;
            text-decoration: none;
        }

        .contact-me:hover {
            background-color:#042365;
            border-color: #042365;
        }

        h2 {
            text-align: center;
            margin-bottom: 1em;
        }

        h3 {
            text-align: center;
            margin-bottom: 1.5em;
        }

    }

    .last-section-project {
        margin: 0 auto 0 auto;
        padding: 0 2em;
        display: flex;
        flex-direction: column;

        .other-projects {
            .project-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
        
                .call-to-action-project {
                    width: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #fff;
                    border-radius: 10px;
                    box-shadow: 0 10px 14px #E3E3E3;
                    padding: 1em 0.3em;
                    margin: 0 auto 2em auto;

                    
                    .project-1 {
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    h2 {
                        text-align: center;
                        color: #0466C8;
                        margin-bottom: 0.5em;
                    }

                    p {
                        text-align: center;
                        font-weight: 500;
                        color: #000;
                    }

                    .project-1-image {
                        width: 100%;   
                        margin-bottom: 1em;
                    }

                    .project-2-image {
                        width: 100%;   
                        margin-bottom: 1em;
                    }
                }
        
            }
        }
    }
   
    

    

}

@media (min-width: 936px) {
    body {

        .title {
            margin-bottom: 3em;
        }

        h2 {
            text-align: center;
        }

        h4 {
            color: #0466C8;
        }

        .icon-font {
            font-size: 28px;
        }

        .section-first-header {
            padding: 0;
            margin-top: 1em;
            margin-bottom: 4em;
            
            .first-image {
                margin-bottom: 1em;
                display:block;
                width: 60%;
            
            }

            
        }

        .background-section-first {
            padding: 6em 0 6em 0;
        }

        .first-try-me {
            padding: 0;
            margin-bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .image-try-me {
                display:block;
                position:relative;
                left: 4em;
                width: 50%;
                margin-bottom: 0;
            }

            .try-me-container {
                display: flex;
                flex-direction: column;
                align-items: initial;
                width: 50%;

                h3 {
                    text-align: left;
                }

                .try-me-call-to-action-container {
                    width: 100%;
                    display: flex;
                    justify-content: left;
                }

                .try-me-call-to-action {
                    width: 180px;
                    font-size: 16px;
                    margin-right: 1em;
                }

                .try-me-website {
                    width: 180px;
                    font-size: 16px;
                }
            }
        }

        .border-section {
            padding: 10em 0 10em 0;
        }

        .the-project {
            align-items: center;
            padding: 0 5em 0 5em;
            margin-top: 0;
            margin-bottom: 0;

            h2 {
                margin-bottom: 0;
            }

            h3 {
                margin-bottom: 0.5em;
            }

            .role-duration {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;

                p {
                    margin-bottom: 0;
                }
                
                .role {
                    width: 70%;
                    margin-bottom: 2.5em;
                }

                .duration {
                    width: 70%;
                }
            }
        }

        .what-we-have-to-know {
            padding: 0 5em 0 5em;

            .substrate  {
                padding: 0 5.5em 0 5.5em;
            }

            h2 {
                margin-bottom: 0;
            }

            .goal-icon {
                margin-bottom: 5em;
                
                .the-goal {
                    display: grid;
                    grid-template-columns: 0.1fr 1fr;
    
                    h4 {
                        display: flex; 
                        align-items: center;
                        margin-bottom: 0;
                    }
    
                    p {
                        grid-column-start: 2;
                        grid-column-end: 4;
                    }
                }
    
            }
            
            .pain-point-and-research {
                margin-bottom: 5em;

                .pain-point-icon {
                    display: grid;
                    grid-template-columns: 0.1fr 1fr;
                    margin-bottom: 2em;
    
                    h4 {
                        display: flex; 
                        align-items: center;
                        margin-bottom: 0;
                    }
    
                    p {
                        grid-column-start: 2;
                        grid-column-end: 4;
                    }
                }
                

                .pain-point-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 2em;
                grid-row-gap: 2em;

                p {
                    margin-bottom: 0;
                }

                h3  {
                    margin-bottom: 0.5em;
                }
                }

            }

            .competitor {

                .competitor-icon {
                    display: grid;
                    grid-template-columns: 0.1fr 1fr;
                    margin-bottom: 2em;
    
                    h4 {
                        display: flex; 
                        align-items: center;
                        margin-bottom: 0;
                    }
    
                    p {
                        grid-column-start: 2;
                        grid-column-end: 4;
                    }
                }

                .data-items {
                    margin-bottom: 2em;
                }
            }
        }

        .Thinking-about-the-users {
            padding: 0 5em 0 5em;

            .personas {
                margin-bottom: 8em;

                .personas-icon {
                    display: grid;
                    grid-template-columns: 0.1fr 1fr;
                    margin-bottom: 2em;

                    h4 {
                        display: flex; 
                        align-items: center;
                        margin-bottom: 0;
                    }

                    p {
                        grid-column-start: 2;
                        grid-column-end: 4;
                    }
                }

                .personas-container {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 -3.5em;
                }

                .personas-card {
                    display: flex;
                    justify-content: space-between;
                    margin: 0em 0.5em;
                    padding: 1em 0;

                    .image-personas {
                        width: 100%;
                    }
                }

            }

            .user-journey {

                .user-journey-icon {
                    display: grid;
                    grid-template-columns: 0.1fr 1fr;
                    margin-bottom: 2em;

                    h4 {
                        display: flex; 
                        align-items: center;
                        margin-bottom: 0;
                        line-height: 26px;
                    }

                    p {
                        grid-column-start: 2;
                        grid-column-end: 4;
                    }
                }

                .user-journey-substrate {
                    padding: 0 7em 0 7em;

                    .user-journey-grid {
                        margin-bottom: 5.5em;

                        p {
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }

                    .user-journey-grid-2 {
                        margin-bottom: 5.5em;

                        p {
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }

                    .user-journey-example-app {
                        line-height: 26px;
                    }

                    h4 {
                        margin-bottom: 2em;
                    }

                }
            }
        }

        .Lets-start-creating {
            padding: 0 5em 0 5em;

            .wireframing {

                .digital-wireframes {
                    margin-bottom: 2em;
                }

                .substrate  {
                    padding: 0 5.5em 0 5.5em;
                    
                }
    
                .paper-image {
                    margin-bottom: 7em;
                }

                .paper-wireframes {
                    margin-bottom: 2em;
                }
            
                .wireframing-icon {
                    display: grid;
                    grid-template-columns: 0.1fr 1fr;
                    margin-bottom: 2em;
    
                    
    
                    h4 {
                        display: flex; 
                        align-items: center;
                        margin-bottom: 0;
                    }
    
                    p {
                        grid-column-start: 2;
                        grid-column-end: 4;
                    }
                }
            }

            .user-testing {
                margin-bottom: 5em;

                .substrate  {
                    padding: 0 5.5em 0 5.5em;
                    
                }

                .user-testing-icon {
                    display: grid;
                    grid-template-columns: 0.1fr 1fr;
                    margin-bottom: 2em;
    
                    
    
                    h4 {
                        display: flex; 
                        align-items: center;
                        margin-bottom: 0;
                    }
    
                    p {
                        grid-column-start: 2;
                        grid-column-end: 4;
                    }
                }

                .objective {
                    margin-bottom: 2em;
                }

                .key-performance-indicator {
                    margin-bottom: 2em;
                    
                    p {
                        margin-bottom: 0.5em;
                    }
                }

                .what-i-found-out {
                    .what-i-found-out-column {
                        grid-template-columns: 1.7em 1fr;
                    }
                }
            }


            .iteration {
                margin-bottom: 5em;

                .iteration-icon {
                    display: grid;
                    grid-template-columns: 0.1fr 1fr;  
                
                    h4 {
                        display: flex; 
                        align-items: center;
                        margin-bottom: 0;
                    }
    
                    p {
                        grid-column-start: 2;
                        grid-column-end: 4;
                    }
                }
            }

            .mockups {

                .mockups-icon {
                    display: grid;
                    grid-template-columns: 0.1fr 1fr;  
                
                    h4 {
                        display: flex; 
                        align-items: center;
                        margin-bottom: 0;
                    }
    
                    p {
                        grid-column-start: 2;
                        grid-column-end: 4;
                    }

                    .mockup-call-to-action-container {

                        .try-me-call-to-action-mockup {
                            width: 180px;
                            font-size: 16px;
                        }

                        .try-me-website-mockup {
                            width: 180px;
                            font-size: 16px;
                        }

                    }
                        
                    
                }

            }

        }

        .conclusion {
            align-items: center;
            padding: 0 5em 0 5em;
            margin-top: 0;
            margin-bottom: 0;

            h2 {
                margin-bottom: 0;
            }

            h3 {
                margin-bottom: 0.5em;
            }

            .what-next {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;

                p {
                    margin-bottom: 0;
                }
                
                .what-i-learned {
                    width: 70%;
                    margin-bottom: 2.5em;
                }

                .next-step {
                    width: 70%;
                }
            }
        }

        .Contact-me-end {
            margin: 10em auto 8em auto;
            padding: 0 5em 0 5em;

            .contact-me {
                width: 180px;
                font-size: 16px;
            }
        }

        .last-section-project {
            .other-projects {
                max-width: 1200px;
                margin: 0 auto 1em auto;
                display: flex;
                align-items: center;
                flex-direction: column;
        
                h2 {
                    text-align: center;
                }
        
                .project-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
        
                    .call-to-action-project {
                        width: 50%;
                        position: relative;
                        cursor: pointer;
                        background: none;
                        box-shadow: none;
                        margin-bottom: 0;
                        padding: 0;

                        .project-1 {
                            width: 100%;
                        }
        
                        .project-1-image {
                            display: block;
                            width: 100%;
                            
                        }

                        h2 {
                            margin-bottom: 0;
                        }

                        p {
                            margin-bottom: 0;
                            color: #000;
                            font-weight: 500;
                        }
        
                        .see-also {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(248, 248, 248, 0.95);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            color: #0466C8;
                            font-weight: 500;
                            font-size: 22px;
                            opacity: 0;
                            transition: opacity 0.3s ease-in-out;
                        }
        
                        .see-also:hover {
                            opacity: 1;
                        }
        
                        .project-2-image {
                            display: block;
                            width: 100%;
                        }
        
                    }
                }
            }
        }

    }
}

@media  (min-width: 500px) and (max-width: 936px) {
    body {

        h4 {
            font-size: 14px;
        }

        .section-first-header {
            padding: 0 6em;
            margin-bottom: 5em;

            .blue-first {
                font-size: 14px;
            }

            .first-image {
                width: 80%;
            }
        }

        .first-try-me {
            .image-try-me {
                width: 70%;
            }
        }

        .the-project {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 65%;
        }

        .what-we-have-to-know {

            h2 {
                text-align: center;
            }


            h4 {
                font-size: 14px;
            }

            .substrate {
                padding: 0 6em 0 6em;
            } 

            .goal-icon {
                margin-bottom: 3em;
            }

            .pain-point-icon {
                margin-bottom: 1.5em;
            }

            .pain-point-and-research {
                margin-bottom: 3em;

                .pain-point-grid {
                    grid-row-gap: 1.5em;
                }
            }

            .competitor {
                margin-bottom: 1.5em;

                .data-items {
                    margin-bottom: 1.5em;
                }
            }
        }

        .Thinking-about-the-users {
            .personas {
                .personas-icon {
                    margin-bottom: 1.5em;
                }
            }

            .user-journey {

                .user-journey-substrate {
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    width: 75%;
                }

                .user-journey-icon {
                    margin-bottom: 1.5em;
                }
            }
        }

        .Lets-start-creating {
            .substrate {
                padding: 0 6em; 
            }

            .wireframing {
                margin-bottom: 1.5em;

                .wireframing-icon {
                    margin-bottom: 1em;
                }
    
            }

            .user-testing {
                margin-bottom: 3em;

                .user-testing-icon {
                    margin-bottom: 1em;
                }
    
                .objective {
                    margin-bottom: 1.5em;
                }
    
                .key-performance-indicator {
                    margin-bottom: 1.5em;
                }
            }

            .iteration {
                margin-bottom: 3em;
            }
        }

        .conclusion {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 65%;
        }

    }
}