.contact-me-section {
  padding: 0 2em;
  max-width: 1200px;
  margin: 0 auto;
}

.form-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 4em auto;
}

.form-conteiner form {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  width: 90%;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 14px #E3E3E3;
          box-shadow: 0 10px 14px #E3E3E3;
}

.form-conteiner form p {
  margin: 1em;
}

.form-conteiner form input {
  border: 0;
  margin: 1em;
  padding: 1em;
  outline: none;
  background: #F8f8f8;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
}

.form-conteiner form textarea {
  border: 0;
  margin: 1em;
  padding: 1em;
  outline: none;
  background: #F8f8f8;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
}

.form-conteiner form button {
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  outline: none;
  width: 140px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  padding: 12px;
  border: solid #0466C8;
  background-color: #0466C8;
  border-radius: 35px;
  cursor: pointer;
  margin: 1em auto 2em auto;
}

.form-conteiner form a {
  color: #0466C8;
}

.title {
  text-align: center;
}

.contact-me-h3 {
  text-align: center;
  margin-bottom: 3em;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin: 0 auto 4em auto;
}

.image .contact-page-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1em;
  display: none;
}

.image .contact-page-image-2 {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 936px) {
  .contact-me-section {
    padding: 0;
  }
  .contact-me-section .conteiner-contact-me-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-me-section .conteiner-contact-me-big .form-conteiner {
    width: 45%;
  }
  .contact-me-section .conteiner-contact-me-big .image {
    width: 45%;
  }
  .contact-me-section .conteiner-contact-me-big .image .contact-page-image {
    display: block;
  }
  .contact-me-section .conteiner-contact-me-big .image .contact-page-image-2 {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 936px) {
  .contact-me-section {
    padding: 0 6em;
  }
}
/*# sourceMappingURL=contact.css.map */